{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}My Applied Jobs | Swamp Hiring{% endblock %}

{% block content %}
{% csrf_token %}
<div class="content" style="margin-left: 0; padding-left: 2rem; width: 100%;">
    <h1 class="page-header">Applied Jobs</h1>
    <div class="job-listings-container" style="width: 100%;">
        <table class="job-table" style="width: 100%; text-align: center;">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Applied Date</th>
                </tr>
            </thead>
            <tbody class="job-listings">
                {% for application in applied_jobs %}
                <tr>
                    <td>{{ application.job.title }}</td>
                    <td>{{ application.job.company_name }}</td>
                    <td>{{ application.job.location }}</td>
                    <td>${{ application.job.salary|floatformat:0|intcomma }}/year</td>
                    <td>{{ application.job.job_type }}</td>
                    <td>{{ application.status }}</td>
                    <td>{{ application.applied_at|date:"M d, Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">You haven't applied to any jobs yet</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
